@import url("../fonts/stylesheet.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
}

.header-hero, .header-contain, .page-header, .story, .story__contain, .section, .rye-contain, .bottel-slider, .bottel-contain, .slider-body, .bottel-list, .addingsec-contain, .scotch-contain, .contacts-banner, .contacts-banner__contain, .rum-contain, .other_container, .form-section__contain, .form--form-section, .footer-contain {
  margin-right: auto;
  margin-left: auto;
}

.addingsec-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-hero {
  background-image: url("../images/banner-new-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-hero::after {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  content: "";
  background: url("../images/banner-repate.png") 0 0 repeat-x;
}

@media screen and (max-width: 1090px) {
  .header-hero {
    background: none;
    background-color: #000000;
  }
}

.header-contain {
  background-image: -webkit-gradient(linear, left top, right top, from(#00000080), to(#00000080));
  background-image: linear-gradient(to right, #00000080, #00000080);
}

@media screen and (max-width: 1190px) {
  .header-contain {
    background-color: transparent;
  }
}

.page-header {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1600px;
  position: relative;
}

@media screen and (max-width: 1090px) {
  .page-header {
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 190px 0 23px;
  }
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a69c8d;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-transition: font-size 500ms linear;
  transition: font-size 500ms linear;
}

@media screen and (max-width: 1190px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
  }
}

@media screen and (max-width: 1090px) {
  .contacts-list {
    font-size: 19px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.contacts-item:not(:first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 1190px) {
  .contacts-item:not(:first-child) {
    margin: 0;
  }
}

.contacts-item > a {
  color: #a69c8d;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: font-size 500ms linear;
  transition: font-size 500ms linear;
}

@media screen and (max-width: 1090px) {
  .contacts-item > a {
    font-size: 19px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-item > a {
    font-size: 20px;
  }
}

.header-img-contain {
  display: inline-block;
  position: absolute;
  left: calc((100% - 228px)/2);
  top: 15px;
  min-width: 228px;
}

@media screen and (max-width: 1090px) {
  .header-img-contain {
    min-width: 152px;
    position: relative;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .header-img-contain {
    min-width: 228px;
    position: absolute;
    left: calc((100% - 228px)/2);
    top: 15px;
  }
}

.header-img {
  width: 228px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

@media screen and (max-width: 1090px) {
  .header-img {
    width: 152px;
  }
}

@media screen and (max-width: 767px) {
  .header-img {
    width: 228px;
  }
}

.main-nav {
  text-transform: uppercase;
}

@media screen and (max-width: 1190px) {
  .main-nav {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    padding-top: 0px;
  }
}

.main-nav__link {
  margin: 0 0 0 40px;
  display: inline-block;
  vertical-align: top;
  color: #a69c8d;
  font-size: 24px;
  font-weight: 600;
  -webkit-transition: font-size 500ms linear;
  transition: font-size 500ms linear;
}

.main-nav__link:first-child {
  margin: 0;
}

@media screen and (max-width: 1190px) {
  .main-nav__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__link {
    font-size: 18px;
    margin: 0 0 0 26px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 45px 65px 45px;
}

@media screen and (max-width: 1090px) {
  .hero {
    background-image: url("../images/banner-new-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 65px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url("../images/banner-new-2-1024x400.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 384px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 767px;
  }
}

.hero__mane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 125px;
  max-width: 515px;
}

@media screen and (min-width: 1091px) and (max-width: 1599px) {
  .hero__mane {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .hero__mane {
    display: none;
  }
}

.hero__mane > p {
  color: #efce5c;
  font-family: "Playfair Display", serif;
  font-size: 33px;
  margin: 10px 0 25px;
}

.hero__mane > button {
  color: #ffffff;
  width: 222px;
  height: 60px;
  font-weight: 600;
  background: none;
  border: 2px solid #ffffff;
  font-size: 22px;
  text-transform: uppercase;
}

.form-contain {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1091px) and (max-width: 1599px) {
  .form-contain {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1190px) {
  .form-contain {
    padding-top: 384px;
  }
}

.form-contain > img {
  margin-bottom: 25px;
  width: 325px;
}

@media screen and (max-width: 1190px) {
  .form-contain {
    padding: 40px 15px 50px;
    margin-top: 0;
  }
}

.form {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 480px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form > p {
  color: #ffffff;
  margin: 20px auto 15px;
  font-size: 22px;
  display: flexbox;
}

.form-name {
  text-transform: uppercase;
  font-weight: 600;
  width: calc(50% - 15px);
  height: 45px;
  border: none;
  padding-left: 10px;
}

.form-name::-webkit-input-placeholder {
  color: #000000;
}

.form-name:-ms-input-placeholder {
  color: #000000;
}

.form-name::-ms-input-placeholder {
  color: #000000;
}

.form-name::placeholder {
  color: #000000;
}

.form-phone {
  text-transform: uppercase;
  font-weight: 600;
  width: calc(50% - 15px);
  height: 45px;
  border: none;
  padding-left: 10px;
}

.form-phone::-webkit-input-placeholder {
  color: #000000;
}

.form-phone:-ms-input-placeholder {
  color: #000000;
}

.form-phone::-ms-input-placeholder {
  color: #000000;
}

.form-phone::placeholder {
  color: #000000;
}

.form-mail {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  height: 45px;
  margin: 8px 0;
  border: none;
  padding-left: 10px;
}

.form-mail::-webkit-input-placeholder {
  color: #000000;
}

.form-mail:-ms-input-placeholder {
  color: #000000;
}

.form-mail::-ms-input-placeholder {
  color: #000000;
}

.form-mail::placeholder {
  color: #000000;
}

.form-message {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  height: 150px;
  border: none;
  padding-left: 10px;
}

.form-message::-webkit-input-placeholder {
  color: #000000;
}

.form-message:-ms-input-placeholder {
  color: #000000;
}

.form-message::-ms-input-placeholder {
  color: #000000;
}

.form-message::placeholder {
  color: #000000;
}

@media screen and (max-width: 1599px) {
  .form-message {
    height: 75px;
  }
}

.form-download {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 62px;
}

.input-file__contain {
  width: 100%;
  position: relative;
}

.input-file__text {
  color: #ffffff;
  font-size: 23px;
  font-family: sans-serif;
  width: 100%;
  height: 63px;
  border-radius: 3px;
  border: 2px dashed #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#00000042), to(#00000042));
  background-image: linear-gradient(to right, #00000042, #00000042);
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.input-file__text:hover {
  background-color: gray;
}

.input-file__text:focus {
  background-color: gray;
}

.form-button {
  text-transform: uppercase;
  color: #ffffff;
  width: 222px;
  height: 50px;
  font-weight: 600;
  background: none;
  border: 2px solid #ffffff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto 0 auto;
}

.story__contain {
  text-align: center;
  padding: 100px 15px 50px 15px;
  max-width: 1600px;
}

@media screen and (max-width: 1599px) {
  .story__contain {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1090px) {
  .story__contain {
    max-width: 960px;
  }
}

.story__tittel {
  text-transform: uppercase;
  font-family: "Prequel Demo", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  position: relative;
  padding-bottom: 100px;
}

.story__tittel::after {
  position: absolute;
  width: 560px;
  height: 85px;
  left: 50%;
  top: 90px;
  content: "";
  background: url("../images/lorn.png") 0 0 no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story__description {
  line-height: 32px;
  margin-bottom: 20px;
  font-size: 22px;
}

.story__description:last-child {
  margin: 0;
}

.rye-contain {
  max-width: 1350px;
  padding: 0 15px;
}

.rye-contain > img {
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 1090px) {
  .rye-contain {
    max-width: 1090px;
  }
}

@media screen and (max-width: 767px) {
  .rye-contain {
    max-width: 767px;
  }
}

.section__tittel-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__tittel-contain::before {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 39px;
  content: "";
  z-index: -10;
  background: url("../images/border-black.jpg") 0 0 repeat-x;
}

.section__tittel {
  text-transform: uppercase;
  font-family: "Prequel Demo", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 10px 22px;
}

.rye-lists-contain {
  font-size: 22px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -10px;
}

.rye-list {
  margin: 10px;
  width: calc((100%-5 * 10px) / 5);
}

.bottel-slider {
  padding: 70px;
}

.bottel-contain {
  padding: 80px 0 0;
  text-align: center;
}

.slider-body {
  max-width: 1220px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-btn {
  padding: 10px 5px;
  min-width: 30px;
  min-height: 60px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-btn.btn-next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.bottel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
  padding: 65px 0;
}

.bottel-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  width: 238px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 500;
}

.addingsec-contain {
  max-width: 1350px;
  padding: 0 15px;
}

.addingsec-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.addingsec-item {
  width: calc((100%-60)/2);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.addingsec-item > img {
  width: 100%;
  height: auto;
}

.scotch {
  padding: 50px 0 30px;
}

.scotch-contain {
  max-width: 1350px;
}

@media screen and (max-width: 1599px) {
  .scotch-contain {
    margin-top: 10px;
    max-width: 1140px;
  }
}

.scotch-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
  padding-top: 120px;
}

.scotch-item {
  width: calc((100% - 5 * 20px)/5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.scotch-item > p {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 20px;
}

.contacts-banner {
  max-width: 1320px;
  background-image: url("https://bourbonscotchbuyer.com/wp-content/uploads/2019/03/addingpicture.jpg");
}

.contacts-banner__contain {
  padding: 50px 0 50px 60px;
}

.banner-text {
  max-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dfbe65;
  font-weight: 700;
  text-align: center;
}

.banner-tittel {
  font-size: 44px;
  line-height: 0.93;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-link {
  line-height: 1.03;
  font-size: 58px;
  color: #ffffff;
}

.banner-link.banner-mail {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

.rum {
  padding: 50px 0 30px;
}

.rum-contain {
  max-width: 1350px;
}

@media screen and (max-width: 1599px) {
  .rum-contain {
    max-width: 1140px;
  }
}

.rum-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding-top: 120px;
}

.rum-item {
  width: calc((100% - 4 * 30px)/4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.rum-item > p {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 20px;
}

.other_container {
  padding: 50px 0 30px;
  max-width: 1600px;
}

@media screen and (max-width: 1599px) {
  .other_container {
    max-width: 1140px;
  }
}

.other-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: top;
  font-size: 30px;
  padding: 0 15px;
  font-weight: 500;
}

.other-item {
  font-size: 30px;
}

.form-section {
  background-image: url("../images/footerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-section__contain {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.form-section__contain > a {
  color: #FFFFFF;
  font-size: 34px;
  text-align: center;
}

.section__tittel--form-section {
  color: white;
  background: transparent;
  margin-bottom: 35px;
}

.form--form-section {
  width: 730px;
  margin-top: 30px;
  padding: 15px;
}

.form--form-section > .form-name {
  height: 47px;
}

.form--form-section > .form-phone {
  height: 47px;
}

.form--form-section > .form-mail {
  height: 47px;
  margin: 25px 0;
}

.form--form-section > .form-message {
  height: 290px;
}

.form--form-section > p {
  margin: 25px auto;
}

.form--form-section > .form-button {
  height: 60px;
  margin-top: 40px;
}

.input-file__contain--form-section {
  height: 68px;
}

.footer-section {
  background-color: #877761;
  padding: 40px 0;
}

.footer-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1350px;
  padding: 0 15px;
}

.main-nav__link--footer {
  color: white;
  font-size: 23px;
}

.copyboxright {
  color: white;
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */