.footer-section {
  background-color: #877761;
  padding: 40px 0;
  // 
}

.footer-contain {
  @extend %auto-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  padding: 0 15px;
  
  
}
.main-nav--footer {
  padding: 0;
}
.main-nav__link--footer {
 color: white;
 font-size: 23px;

 &:hover {
  color: black;
}
&:focus {
  color: black;
}
}

.copyboxright {
  color: white;
 font-size: 24px;
 padding: 0;
}
