.form-section {
background-image: url("../image/footerbg.jpg");
// width: 100%
// background-color: black
}
.form-section__contain {
    @extend %auto-margin;
max-width: 750px;
display: flex;
flex-direction: column;
}
.section__tittel--form-section {
    color: white;
}