// .section__tittel-contain--other {
//     max-width: 1600px;
// }
.other_container {
    @extend %auto-margin;
    padding: 0 0 30px;
    max-width: 1600px;
    @media screen and (max-width: 1599px) {
        
        max-width: 1140px;
      }
}
.other-list {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: top;
    font-size: 30px;
    padding: 0 15px;
    font-weight: 500;

}
.other-item {
    font-size: 30px;
    @media screen and (max-width: 767px) {
        font-size: 22px;
        
      }
}