.scotch {
    padding: 50px 0 30px;
}
.scotch-contain {
    @extend %auto-margin;
    max-width: 1350px;
    @media screen and (max-width: 1599px) {
        margin-top: 10px;
        max-width: 1140px;
      }
}

.scotch-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 120px;
    
}
.scotch-item {
    width: calc((100% - 5 * 20px)/5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &>p {
        font-size: 28px;
    font-weight: 500;
    padding-bottom: 20px;
    }
}