@import url('../fonts/stylesheet.css');
$primary-text-color: #000000;
$second-text-color: #a69c8d;
$accent-color: #efce5c;
$hero-text-color: #ffffff;
$hero-bgr-color: #2f303a;
$button-bgr-color: #f5f4fa;
$icon-color: #afb1b8;
$prim-font: 'Barlow Condensed', sans-serif;
$sec-font: 'Playfair Display', serif;
$tre-font: 'Prequel Demo', sans-serif;
// этот шрифт необходимо поменять
